*{
    font-size: 1.1rem;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
  }


#header{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0px 10%;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.77);
    position: sticky;
    top: 0;
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 0 0;
    cursor: pointer;
    font-family: 'Monoton','Oswald', sans-serif;
    max-height: 50px;
    max-width: 100px;
    line-height: 15.5px;
}

nav{
    float: right;
}

li{
    display: inline-block;
    padding-left: 30px;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1{
    text-align: center;
    margin: 5px 0px;
    padding: 0;
}       

a{
    text-decoration: none;
    color: inherit;
    margin: 0;
}


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin: 16px auto;
    padding: 0 10%;
    font-family:  sans-serif;
    text-align: center;
    border: 3px solid blueviolet;
}


#top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    border: 3px solid olivedrab;
    text-align: justify;
    border: 3px solid rgb(245, 140, 4);
}

#top img{
    width: 99%;
    height: 99%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(1, 207, 243);
}

.about{
    padding: 16px 16px;

}

h2{
    text-align: center;
    font-size: 1.5rem;
}

.video-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    border: 3px solid olivedrab;
    text-align: justify;
}

#video{
    width: 99%;
    height: 99%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(227, 243, 1);
}

#blank{
    padding: 16px 16px;
    border: 3px solid yellow;
}

#Features{
    border: 3px solid rgb(9, 255, 0);
}

#Pricing {
    border: 3px solid yellow;
}

#hero{
    border: 3px solid rgb(9, 255, 0);

}

@media{
    
}

