/* text git-push*/

*{
    font-size: 1.1rem;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;

}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;

}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.77);
    position: sticky;
    top: 0;
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 0 0;
    cursor: pointer;
    font-family: 'Monoton','Oswald', sans-serif;
    max-height: 50px;
    max-width: 100px;
    line-height: 15.5px;
}

ul{
    margin-left: auto;
    margin-right: auto;
}

nav{
    float: right;
}

li{
    display: inline-block;
    padding: 0 20px;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h1{
    text-align: center;
    margin: 5px 0px;
    padding: 0;
}       

a{
    text-decoration: none;
    color: inherit;
    margin: 0;
}


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin: 16px auto;
    padding: 0 10%;
    font-family:  sans-serif;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

#top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    text-align: justify;

}

#top img{
    width: 99%;
    height: 99%;
    margin-left: auto;
    margin-right: auto;

}

.about{
    padding: 0px 16px 16px;

}

hr{
    padding: 0;
    margin: 0;
}

h2{
    text-align: center;
    font-size: 1.5rem;
}


.video-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    justify-content: space-between;
    align-content: space-between;
    text-align: justify;
    padding: 0;
    
}

#video{
    min-width: 99%;
    min-height: 99%;
    margin-left: auto;
    margin-right: auto;
}

#history{
    padding: 0px 16px;
}

#features{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#features h3{
    text-align: center;
    font-size: 1.5rem;
}

#features p{
    text-align: center;
    padding: 0 1rem;

}

.svg-icon {
    width: 120px;
    height: 120px;
}
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect{
    fill: black;
    min-width: 270px;
}
  
.svg-icon circle {
    stroke: black;
    stroke-width: 1;
}


#pricing {
    display: inline-flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    padding: 0;  
    margin: 0;
}

#pricing div{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(4, 1fr);
    max-width: 100%;
    min-width: 270px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    padding: 0;
    margin: 5px;
    align-content: space-around;
    justify-content:space-around;
    box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.77);

}

#pricing .level{
    font-weight: bolder;
    font-size: 1.2rem;
    max-width: 100%;
    padding: 5px;
    margin: 5px;
}

#pricing button{
    color: white;
    font-size: 1.2rem;
    max-width: 100%;
    background-color: rgb(48, 48, 48);
    padding: 5px;
    margin: 0 16px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
}

#footer{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 30vh;
}

#footer h2{
    font-family: 'Monoton','Oswald', sans-serif;
    font-weight: bold;
    letter-spacing: .5rem;
}

.form-container{
    text-align: center;
    margin: 0 auto;
    display: block;
    border: none;
    font-size: 1rem;
    text-align: center;
}

form input{
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    min-width: 300px;
    min-height: 35px;
    font-family: 'Oswald', sans-serif;

}
form .button{
    min-width: 300px;
    background-color: white;
    color: rgb(48, 48, 48);
    cursor: pointer;
    margin: 5px 0;
    transition: 0.5s;
}

form .button:hover{
    background-color: rgb(48, 48, 48);
    color: white;
    cursor: pointer;
    margin: 5px 0;
    border: 3px;
}

@media(max-width: 900px){

    #top{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;
    }

    .video-wrap{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    #video{
        max-width: 100%;
    }

    #features{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;


    }

    #pricing{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

}



@media(max-width: 580px){
    #header{
        margin: 0 auto;
        display: flex;
        max-width: 100%;
        padding: 0;
    }

    nav{
        padding: 0;
        margin: auto auto;
        display: inline-block;
    }

    nav ul{
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .logo{
        display: none;
    }

    footer{
        margin: 0 auto;
    }
}

